<!-- wp:template-part {"slug":"nav","theme":"finalproject"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"3rem","bottom":"3rem"},"padding":{"right":"11rem","left":"11rem"}}}} -->
<div
  class="wp-block-group"
  style="
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-right: 11rem;
    padding-left: 11rem;
  "
>
  <!-- wp:heading {"textAlign":"center","level":1} -->
  <h1 class="wp-block-heading has-text-align-center">🚀 About us 👩‍🚀</h1>
  <!-- /wp:heading -->

  <!-- wp:paragraph {"align":"center","style":{"typography":{"textTransform":"capitalize","textDecoration":"none","lineHeight":"2"}}} -->
  <p
    class="has-text-align-center"
    style="line-height: 2; text-decoration: none; text-transform: capitalize"
  >
    Our purpose with this site is to share our passion for the deep reaches of
    space. We aim to explore the wonders of the universe — from real-world
    astronomical discoveries to the legendary stories that have captured
    imaginations for decades. Here, you'll find a mix of general space
    knowledge, exciting updates about the cosmos, and a deep dive into the lore
    of the iconic Star Wars Sith Apprentice, Starkiller. We hope to create a
    place where fans of science, science fiction, and space exploration can come
    together to learn, dream, and be inspired. Whether you're here for the facts
    about black holes and distant galaxies, or to uncover more about the dark
    side of the Force, we're excited to take this journey with you.
  </p>
  <!-- /wp:paragraph -->
</div>
<!-- /wp:group -->
