<!-- wp:template-part {"slug":"nav"} /-->

<!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading has-text-align-center">❓ FAQ ❓</h1>
<!-- /wp:heading -->

<!-- wp:details -->
<details class="wp-block-details">
  <summary>Is starkiller a Jedi or a Sith?</summary>
  <!-- wp:paragraph -->
  <p>Starkiller is a Sith</p>
  <!-- /wp:paragraph -->
</details>
<!-- /wp:details -->

<!-- wp:details -->
<details class="wp-block-details">
  <summary>Is starkiller Dark Vader son?</summary>
  <!-- wp:paragraph -->
  <p>No Starkiller is not Dark Vader son</p>
  <!-- /wp:paragraph -->
</details>
<!-- /wp:details -->

<!-- wp:details -->
<details class="wp-block-details">
  <summary>Is starkiller more powerful than Dark Vader?</summary>
  <!-- wp:paragraph -->
  <p>While Starkiller is powerful they are not as powerful as Dark Vader</p>
  <!-- /wp:paragraph -->
</details>
<!-- /wp:details -->

<!-- wp:details -->
<details class="wp-block-details">
  <summary>Why is Starkiller afraid of Yoda?</summary>
  <!-- wp:paragraph -->
  <p>
    Starkiller thought that Yoda was a simple creature and did not realize that
    Yoda was powerful
  </p>
  <!-- /wp:paragraph -->
</details>
<!-- /wp:details -->

<!-- wp:details -->
<details class="wp-block-details">
  <summary>what force abilities does Starkiller have?</summary>
  <!-- wp:paragraph -->
  <p>
    Starkiller force abilities are telekinesis, Force lightning, and even unique
    dark side techniques
  </p>
  <!-- /wp:paragraph -->
</details>
<!-- /wp:details -->
