<!-- wp:template-part {"slug":"nav"} /-->

<!-- wp:image {"width":"1300px","height":"400px","scale":"cover","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<figure
  class="wp-block-image is-resized"
  style="margin-top: 0; margin-bottom: 0"
>
  <img
    src="https://preview.redd.it/kodpbac7a4891.png?auto=webp&amp;s=91c1e5427bbd27e171891cfcc630098b269bcfe0"
    alt="Random Image"
    style="object-fit: cover; width: 1300px; height: 400px"
  />
</figure>
<!-- /wp:image -->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|70","left":"var:preset|spacing|70"}}}} -->
<div
  class="wp-block-group"
  style="
    padding-right: var(--wp--preset--spacing--70);
    padding-left: var(--wp--preset--spacing--70);
  "
>
  <!-- wp:heading {"level":1} -->
  <h1 class="wp-block-heading">Welcome to Space</h1>
  <!-- /wp:heading -->
  <!-- wp:paragraph -->
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi sint,
    ducimus, ratione quibusdam impedit fugiat minus atque inventore nam eos
    maxime unde mollitia tempora ipsam excepturi. Ullam eum deleniti culpa.
  </p>
  <!-- /wp:paragraph -->
</div>

<!-- /wp:group -->
