<!-- wp:template-part {"slug":"nav"} /-->

<!-- wp:image {"width":"1300px","height":"400px","scale":"cover"} -->
<figure class="wp-block-image is-resized">
  <img
    src="https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg"
    alt="Random Image"
    style="object-fit: cover; width: 1300px; height: 400px"
  />
</figure>
<!-- /wp:image -->

<!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading">Welcome to Space</h1>
<!-- /wp:heading -->
<!-- wp:paragraph -->
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi sint, ducimus,
  ratione quibusdam impedit fugiat minus atque inventore nam eos maxime unde
  mollitia tempora ipsam excepturi. Ullam eum deleniti culpa.
</p>
<!-- /wp:paragraph -->
