<!-- wp:template-part {"slug":"nav"} /-->

<!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading has-text-align-center">
  ⭐️ Fun Facts About Starkiller ⭐️
</h1>
<!-- /wp:heading -->

<!-- wp:heading {"level":4} -->
<h4 class="wp-block-heading">Fun Fact #1</h4>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>
  Starkiller early training under Dark Vader was focusing on the darkside
  techniques and developing his strenght as a force user and lightsaber duelist
</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":4} -->
<h4 class="wp-block-heading">Fun Fact #2</h4>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Starkiller has a huge fear of Yoda</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":4} -->
<h4 class="wp-block-heading">Fun Fact #3</h4>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Starkiller was trained in both the light and dark sides of the forces</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":4} -->
<h4 class="wp-block-heading">Fun Fact #4</h4>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Starkiller is a lightsaber master</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":4} -->
<h4 class="wp-block-heading">Fun Fact #5</h4>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Starkiller is one of the strongest users of the force</p>
<!-- /wp:paragraph -->
