<!-- wp:template-part {"slug":"nav"} /-->

<!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading has-text-align-center">
  ⭐️ Fun Facts About Starkiller ⭐️
</h1>
<!-- /wp:heading -->

<!-- wp:image {"width":"500px","height":"500px","scale":"cover","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<figure
  class="wp-block-image aligncenter is-resized"
  style="margin-top: 0; margin-bottom: 0"
>
  <img
    src="https://static.wikia.nocookie.net/swfanon/images/f/ff/SithStalker.jpg/revision/latest?cb=20091114030611"
    alt="Random Image"
    style="object-fit: cover; width: 500px; height: 500px"
  />
</figure>

<!-- /wp:image -->

<!-- wp:heading {"level":4, "style":{"spacing":{"margin":{"left":"150px"}}}} -->
<h4 class="wp-block-heading" style="margin-left: 150px">Fun Fact #1</h4>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p style="margin-left: 140px">
  Starkiller early training under Dark Vader was focusing on the darkside
  techniques and developing his strenght as a force user and lightsaber duelist
</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":4, "style":{"spacing":{"margin":{"left":"150px"}}}} -->
<h4 class="wp-block-heading" style="margin-left: 150px">Fun Fact #2</h4>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p style="margin-left: 150px">Starkiller has a huge fear of Yoda</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":4, "style":{"spacing":{"margin":{"left":"150px"}}}} -->
<h4 class="wp-block-heading" style="margin-left: 150px">Fun Fact #3</h4>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p style="margin-left: 140px">
  Starkiller was trained in both the light and dark sides of the forces
</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":4, "style":{"spacing":{"margin":{"left":"150px"}}}} -->
<h4 class="wp-block-heading" style="margin-left: 150px">Fun Fact #4</h4>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p style="margin-left: 150px">Starkiller is a lightsaber master</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":4, "style":{"spacing":{"margin":{"left":"150px"}}}} -->
<h4 class="wp-block-heading" style="margin-left: 150px">Fun Fact #5</h4>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p style="margin-left: 140px">
  Starkiller is one of the strongest users of the force
</p>
<!-- /wp:paragraph -->
