<!-- wp:template-part {"slug":"nav"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|70","left":"var:preset|spacing|70"},"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}}} -->
<div
  class="wp-block-group"
  style="
    margin-top: var(--wp--preset--spacing--60);
    margin-bottom: var(--wp--preset--spacing--60);
    padding-right: var(--wp--preset--spacing--70);
    padding-left: var(--wp--preset--spacing--70);
  "
>
  <!-- wp:heading {"textAlign":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|text"}}}},"textColor":"text"} -->
  <h2
    class="wp-block-heading has-text-align-center has-text-color has-link-color"
  >
    Welcome to our Blog page where you can post about different topics.
  </h2>
  <!-- /wp:heading -->

  <!-- wp:query {"queryId":0,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true}} -->
  <div class="wp-block-query">
    <!-- wp:post-template {"layout":{"type":"default"}} -->
    <!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|60","left":"var:preset|spacing|60"},"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"},"blockGap":"var:preset|spacing|30"},"elements":{"link":{"color":{"text":"var:preset|color|background"}}}},"textColor":"background"} -->
    <div
      class="wp-block-group has-background-color has-text-color has-link-color"
      style="
        margin-top: var(--wp--preset--spacing--60);
        margin-bottom: var(--wp--preset--spacing--60);
        padding-right: var(--wp--preset--spacing--60);
        padding-left: var(--wp--preset--spacing--60);
      "
    >
      <!-- wp:post-title {"level":1,"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|text"}}}},"textColor":"text"} /-->

      <!-- wp:post-excerpt /-->

      <!-- wp:post-author /-->

      <!-- wp:post-date {"style":{"elements":{"link":{"color":{"text":"var:preset|color|background"}}}},"textColor":"background"} /-->
    </div>
    <!-- /wp:group -->
    <!-- /wp:post-template -->
  </div>
  <!-- /wp:query -->
</div>
<!-- /wp:group -->
